#####################################
#  Team 1073 Robot '17 Git Ignore   #
#####################################

#For Robot Builder Temporary Files
*~
~*

#Other Various Files & Operating System
*.xml
sysProps.xml
build/
dist/
bin/
*.class
.classpath
CTRLib.jar

#OS related
.DS_STORE
.Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.localized
.classpath
*.classpath